import /vendor/etc/init/hw/init.rpi5.usb.rc

on init
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /vendor/etc/fstab.rpi5 --early

on late-fs
    mount_all /vendor/etc/fstab.rpi5 --late

on property:sys.boot_completed=1
    restart adbd

on property:persist.adb.tcp.port=5555
    restart adbd

on property:service.adb.tcp.port=5555
    restart adbd
